<!DOCTYPE html>
<html lang="en">
<head> 
     <title>Menu</title>
     <link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   <section id="food-menu" style="margin-top: 25px;">
         <div class="food-menu-container container">
          <div class="food-img">
            <img src="memonibiryani.jpg" alt="Chicken" />
          </div>
               
          <div class="food-description">
            <h2 class="food-titile">Memoni Biryani</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.650</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
<div class="food-menu-container container">
          <div class="food-img">
            <img src="mughal.jpg" alt="Chicken" />
          </div>
               
<div class="food-description">
            <h2 class="food-titile">Mughal Biryani</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.670</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
            
            <div class="food-menu-container container">
          <div class="food-img">
            <img src="fishbiryani.jpg" alt="Chicken" />
          </div>
               
<div class="food-description">
            <h2 class="food-titile">Fish Biryani</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.560</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
<div class="food-menu-container container">
          <div class="food-img">
            <img src="veg.jpg" alt="Veg Biryani" />
          </div>
<div class="food-description">
            <h2 class="food-titile">Veg Biryani</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.730</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 

<div class="food-menu-container container">
          <div class="food-img">
            <img src="paneerb.jpg" alt="Paneer Biryani" />
          </div>
<div class="food-description">
            <h2 class="food-titile">Paneer Biryani</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.830</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
            
         <div class="food-menu-container container">
          <div class="food-img">
            <img src="egg.jpg" alt="Egg Biryani" />
          </div>
               <div class="food-description">
            <h2 class="food-titile">Egg Biryani</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
       
                    <h3>Rs.450</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        
                    </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                </div>

            </div> 

            


</body>
</html>