<!DOCTYPE html>
<html lang="en">
<head> 
     <title>Menu</title>
     <link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   <section id="food-menu" style="margin-top: 25px;">
         <div class="food-menu-container container">
          <div class="food-img">
            <img src="friedchick.jpg" alt="Chicken" />
          </div>
               
          <div class="food-description">
            <h2 class="food-titile">Fried chicken</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.700</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
<div class="food-menu-container container">
          <div class="food-img">
            <img src="chili-chiken.jpg" alt="Chicken" />
          </div>
               
<div class="food-description">
            <h2 class="food-titile">Chili Chicken</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.760</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
            
            <div class="food-menu-container container">
          <div class="food-img">
            <img src="butterchick.jpg" alt="Chicken" />
          </div>
               
<div class="food-description">
            <h2 class="food-titile"> Butter Chicken</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.450</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
<div class="food-menu-container container">
          <div class="food-img">
            <img src="chickmakhni.jpg" alt="Chicken" />
          </div>
<div class="food-description">
            <h2 class="food-titile">Chicken Makhani</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 

<div class="food-menu-container container">
          <div class="food-img">
            <img src="tikka.jpg" alt="Chicken" />
          </div>
<div class="food-description">
            <h2 class="food-titile">Chicken Tikka Masala</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.430</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
            
         <div class="food-menu-container container">
          <div class="food-img">
            <img src="tandoori.jpg" alt="Chicken" />
          </div>
               <div class="food-description">
            <h2 class="food-titile">Tandoori Chicken</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
       
                    <h3>Rs.330</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        
                    </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                </div>

            </div> 

            


</body>
</html>