<!DOCTYPE html>
<html lang="en">
<head> 
     <title>Menu</title>
     <link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   <section id="food-menu" style="margin-top: 25px;">
         <div class="food-menu-container container">
          <div class="food-img">
            <img src="noodle.jpg" alt="Noodles" />
          </div>
               
          <div class="food-description">
            <h2 class="food-titile">Veg Hakka Noddles</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.870</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
<div class="food-menu-container container">
          <div class="food-img">
            <img src="manchu.jpg" alt="Manchurian" />
          </div>
               
<div class="food-description">
            <h2 class="food-titile">Manchurian</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.100</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
            
            <div class="food-menu-container container">
          <div class="food-img">
            <img src="momo.jpg" alt="Momos" />
          </div>
               
<div class="food-description">
            <h2 class="food-titile">Momos</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.230</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
<div class="food-menu-container container">
          <div class="food-img">
            <img src="spring-rolls.jpg" alt="Spring rolls" />
          </div>
<div class="food-description">
            <h2 class="food-titile">Spring Rolls</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.210</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 

<div class="food-menu-container container">
          <div class="food-img">
            <img src="fried.jpg" alt="fried" />
          </div>
<div class="food-description">
            <h2 class="food-titile">Fried Rice</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.650</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
            
         <div class="food-menu-container container">
          <div class="food-img">
            <img src="chowmin.jpg" alt="Chowmin" />
          </div>
               <div class="food-description">
            <h2 class="food-titile">Chowmin</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
       
                    <h3>Rs.550</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        
                    </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                </div>

            </div> 

            


</body>
</html>