{% load static%}
<html>
  <head>
     <link rel="stylesheet" href="{% static 'css/all.min.css' %}" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  
  </head>
  <body>
    <center>
      <div class="food-menu-item">
          <div class="food-img">
            <img src="{% static 'images/idli.jpg' %}" alt="Chinese" />
          </div>
         
        </div>  
      <form action="{% url 'pro1' %}" method="POST">
         {% csrf_token %}
        Your Name<input type="" id="cname" name="cname" value=""><br><br>
        Email<input type="" name="cmail" value=""><br><br>
        Quantity<input type="" id="quant" value=""><br><br>
        Order Id<input type="" id="oid" name="oid" value="103"><br><br>
        Product Id<input type="" name="pid" value="203"><br><br>
        Product Name<input type="" name="cus" value="Idli Sambhar"><br><br>
        <button onclick="generate()">Generate Invoice</button>
        <div id="q"></div>
        <input type="submit" name="" value="Proceed"><br><br>
      </form>
       <script>
      function generate(){
         oid=document.getElementById("oid").value
         name=document.getElementById("cname").value
         quantity=document.getElementById("quant").value
         document.getElementById("q").innerHTML="<div><h2>Customer's Name:"+name+"</h2><h2>Item:Idli Sambhar</h2><h2>Price:100 INR</h2><h2>Quantity:"+quantity+"</h2><h2>Total:"+(150*quantity)+"</h2></div>"
       }
      </script>
    </center>
  </body>
</html>