<!DOCTYPE html>
<html lang="en">
<head> 
     <title>Menu</title>
     <link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   <section id="food-menu" style="margin-top: 25px;">
         <div class="food-menu-container container">
          <div class="food-img">
            <img src="idli.jpg" alt="Idli" />
          </div>
               
          <div class="food-description">
            <h2 class="food-titile">Idli Sambhar</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
<div class="food-menu-container container">
          <div class="food-img">
            <img  src="appe.jpg" alt="appe" />
          </div>
               
<div class="food-description">
            <h2 class="food-titile">Appe Chutney</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
            
            <div class="food-menu-container container">
          <div class="food-img">
            <img src="ravadosa.jpg" alt="dosa" />
          </div>
               
<div class="food-description">
            <h2 class="food-titile">Rava Dosa</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
<div class="food-menu-container container">
          <div class="food-img">
            <img src="udidwada.jpg" alt="wada" />
          </div>
<div class="food-description">
            <h2 class="food-titile">Udid wada</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 

<div class="food-menu-container container">
          <div class="food-img">
            <img src="upma.jpg" alt="upma" />
          </div>
<div class="food-description">
            <h2 class="food-titile">Upma</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
            
         <div class="food-menu-container container">
          <div class="food-img">
            <img src="utta.jpg" alt="uttapam" />
          </div>
               <div class="food-description">
            <h2 class="food-titile">Uttapam</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
       
                    <h3>Rs.550</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        
                    </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                </div>

            </div> 

            


</body>
</html>