<!DOCTYPE html>
<html lang="en">
<head> 
     <title>Menu</title>
     <link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   <section id="food-menu" style="margin-top: 25px;">
         <div class="food-menu-container container">
          <div class="food-img">
            <img src="navratan-korma.jpg" alt="Korma" />
          </div>
               
          <div class="food-description">
            <h2 class="food-titile">Navratan Korma</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
<div class="food-menu-container container">
          <div class="food-img">
            <img src="k.jpg" alt="Kolhapuri" />
          </div>
               
<div class="food-description">
            <h2 class="food-titile">Veg Kolhapuri</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
            
            <div class="food-menu-container container">
          <div class="food-img">
            <img src="handi.jpg" alt="Veg Handi" />
          </div>
               
<div class="food-description">
            <h2 class="food-titile">Veg Handi</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
<div class="food-menu-container container">
          <div class="food-img">
            <img src="kaju.jpg" alt="Kaju Korma" />
          </div>
<div class="food-description">
            <h2 class="food-titile">Kaju Korma</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 

<div class="food-menu-container container">
          <div class="food-img">
            <img src="dal.jpg" alt="Veg Dal Fry" />
          </div>
<div class="food-description">
            <h2 class="food-titile">Veg Dal Fry</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                    <h3>Rs.600</h3>
                     <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                       </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                      
            </div>

            </div> 
            
         <div class="food-menu-container container">
          <div class="food-img">
            <img src="dum.jpg" alt="Dum Aloo" />
          </div>
               <div class="food-description">
            <h2 class="food-titile">Dum Aloo</h2>
            <p>Taste of tradition.</p>
              <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
       
                    <h3>Rs.550</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        
                    </div>
                    <a href="food.html" class="menu_btn"><button>Order Now</button></a>
                </div>

            </div> 

            


</body>
</html>